main{
	width: 80%;
	margin: auto;
}

form{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 20px;
	width: 30%;
}

button{
	color: #fff;
	background-color: #28a745;
}

.menu{
	justify-content: flex-start;
}