main{
	width: 80%;
	margin: auto;
}

form{
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 20px;
	width: 30%;
}

label, input{
	margin-bottom: 10px;
}

input{
	padding: 5px 0px 5px 0px;
	background-color: #fff;
}

button{
	color: #fff;
	background-color: #28a745;
	padding: 5px 0px 5px 0px;
}

.menu{
	justify-content: flex-start;
}