.title, form{
	width: 30%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

button{
	color: #fff;
	background-color: #006cff;
	padding: 5px 0px 5px 0px;
}

.menu{
	justify-content: flex-start;
}